<% include ./partials/header %>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>LFC Legend App</h1>
        </div>
    </div>    
    <div class="">
        <div class="">
            <% players.forEach(function(player){ %>
                <div class="row box">
                    <div class="col-xs-6 col-md-3">
                        <img class="col-xs-12" src="<%= player.image %>">    
                    </div>
                    <div class="col-xs-6 col-md-9">
                        <a class="" href="/players/<%= player._id %>">
                            <%= player.name %>
                        </a>    
                        <div class="innerBox">
                            <p>
                                <% if(player.bio.length > 150) { %>
                                    <%- player.bio.substring(0, 150) + "..." %>
                                <% } else { %>
                                    <%- player.bio %>
                                <% } %>
                            </p>
                        </div>
                        <div class="">
                            <a class="" href="/players/<%= player._id %>">
                                Read More
                            </a>    
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</div>

<% include ./partials/footer %>